# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage
.nyc_output

# next.js
.next/
out/
build
dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE specific files
.idea
.vscode
*.swp
*.swo

# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

.plandex/
.plandex-dev/
.plandex-v2/
.plandex-dev-v2/
.envkey
.env.*
plandex
plandex-dev
plandex-server
*.exe
/tools/
/static/
/infra/
/payments-dashboard/
.goreleaser.yml

.aider.*
*.code-workspace
